cache/*
config.csrf-secret.php
cron/modules/Import/*
languages/*
layouts/vlayout/*
modules/Assets/*
modules/CustomerPortal/*
modules/EmailTemplates/*
modules/ExtensionStore/*
modules/Google/*
modules/Import/*
modules/MailManager/*
modules/Mobile/*
modules/ModComments/*
modules/ModTracker/*
modules/PBXManager/*
modules/Project/*
modules/ProjectMilestone/*
modules/ProjectTask/*
modules/RecycleBin/*
modules/SMSNotifier/*
modules/ServiceContracts/*
modules/Services/*
modules/Settings/*
modules/WSAPP/*
modules/Webforms/*
test/templates_c/*
test/vtlib/HTML/3.3.0,aacfe2e21b552364077576cd0a636b92,1.ser
user_privileges/*
